site_name: WinfoWiki

theme:
    name: material
    language: de
    features:
        - navigation.instant
        - content.code.copy

extra_javascript:
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
    - smarty
    - toc:
        permalink: "#"
    - sane_lists
    - tables
    - attr_list
    - admonition
    - pymdownx.arithmatex:
          generic: true
    - pymdownx.details
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences:
          custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
    - def_list

plugins:
    - mermaid2
    - awesome-pages
    - search:
        lang:
          - de
          - en

repo_url: https://github.com/heshsum/winfowiki
